.ui.grid.container
  %section.row.middle.aligned.section
    .ui.column.ten.wide
      %h1
        Flow Up
      %h2
        Tremplin du Hip Hop Galsen
    .column.six.wide.right.floated
      .ui.raised.very.padded.segment  
        %h2.ui.header
          Inscription
        - if flash[:success]
          = flash[:success]

        = render partial: 'form'