.ui.grid.container
  %section.row.middle.aligned.section
    .ui.column.ten.wide.presentation
      %h1
        Flow Up
      %h2
        Tremplin du Hip Hop Galsen
      %p
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam exercitationem asperiores vero, nobis fugit iste rem in voluptatum, omnis molestiae sit earum perspiciatis inventore quidem. Deserunt repellat porro minima doloremque?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, quo voluptas deleniti maiores nisi nobis blanditiis provident sint facere eligendi aliquid perferendis. Fugit ea quas error dolorum culpa deserunt veniam.
    .column.six.wide.right.floated
      .ui.raised.segment  
        .ui.ribbon.label
          Inscription
        - if flash[:success]
          = flash[:success]

        = render partial: 'form'