/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require semantic
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Permanent+Marker');

body {
  background-image: url('crowd');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: hsla(255, 0%, 100%, .85)
}
section{
  height: 100vh;
}
.presentation {
  color: #d05e21;
  font-weight: 100;
  
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1.6rem;
    line-height: 0rem;
    font-weight: 400;
    color: #d05e21;
    font-family: 'Permanent Marker', cursive;

  }
  h2 {
    font-weight: 100;
    letter-spacing: .6rem;
    font-family: 'Permanent Marker', cursive;

  }
  p {
    font-size: 1.4rem;
  }
}
div.ui.ribbon.label {
  font-size: 1.2rem;
}
// [type='file'] {
//   height: 80px;
//   opacity: 0;
// }
// .file {
//   background-image: url('cloud_upload.png');
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }